.env
.DS_Store
nginx/*
backups/*

# NPM modules
src/wp_data/wp-content/themes/ls-child/node_modules

# Plugins, themes and related
src/wp_data/wp-content/plugins/

# Other files under wp-content except ls-child
!src/wp_data/wp-content/
src/wp_data/wp-content/**
!src/wp_data/wp-content/themes/ls-child/
